@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Ubuntu&display=swap');

*{
  font-family: 'Ubuntu', sans-serif;
  /* font-family: 'Be Vietnam Pro', sans-serif; */
  cursor: url(./assets/cursor.png), auto;
}

html body, .content {
    background:linear-gradient(90deg, #000428, #1b294b);
    /* background-color: #091540; */
    /* background-color: #0e1527; */
}
.content-info{
    background-color: #fff;
}

.content-map, .content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* SCROLL BAR */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #Fff;
}
::-webkit-scrollbar{
	width: 7px;
	background-color: #Fff;
}
::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f71735;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    /* background-color: blue; */
}

/* DESCRIPTION CONTENT */
.desc-content {
    text-align: center;
    margin: 3rem 0 3rem 0;
    color: rgba(255, 255, 255, 0.452);
    max-width: 90%;
}
.desc-content .title-desc{
  background-image: linear-gradient(90deg, #f71735, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}

/* ROLE & SKILL BASED ROADMAP */
.title {
    font-size: 24px;
    margin-top: 2rem;
    border-bottom: 1px solid #fff;
    padding: 5px;
}
.role {
    max-width: 700px;
    margin: 2rem;
    text-align: center;
}
.menu{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.menu a {
    border: 2px solid #ffffff7a;
    padding: 10px;
    border-radius: 7px;
    margin: 0.5rem;
    list-style: none;
    text-decoration: none;
    width: 200px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.menu a:hover{
    border: 2px solid #fff;
    transition: 0.3s;
}

/* GUIDES & VIDEOS */
.blog{
    max-width: 700px;
    margin: 2rem;
}
.blog .more-btn{
    background-color: #0e1527;
    list-style: none;
    text-decoration: none;
    border-radius: 7px;
    font-size: 13px;
}
.menu-blog{
    flex-wrap: wrap ;
    flex-direction: column;
    margin-top: 1.5rem;
}
.menu-blog .blog-btn {
    width: 100%;
    text-decoration: none;
    color: #000;
    display: inline-block;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 1rem;
    font-size: 18px;
}
.menu-blog .blog-btn:hover{
    color: dodgerblue;
    transform: translateX(10px);
    transition: 0.2s;
}

/*  FORMS */
#form-contact{
  box-shadow: 10px 10px 25px 15px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  display: inline-block;
  border-radius: 0.5rem;
  max-width: 700px;
  height: auto;
  max-height: 550px;
  margin: 3rem 0 3rem 0;
}
form{
  display: flex;
  width: 650px;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem;
}
form h2{
  text-align: center;
}
label input{
  max-width: 300px;
  height: 40px;
  border-radius: 0.2rem;
  border: 1px #cccbcb solid;
}
label textarea{
  width: 100%;
  height: 150px;
  border-radius: 0.2rem;
  border: 1px #cccbcb solid;
}
.btn{
  display: flex;
  justify-content: center;
}
.btn button{
  width: 100px;
  margin: 1rem;
}

/* FOOTER */
.footer-container {
    background:linear-gradient(90deg, #000428, #1b294b);
    height: 100%;
  }
  .nav-2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .nav-2 > a {
    color: #8e8c8c;
    margin: 0 2em;
    text-decoration: none;
    font-size: 20px;
  }
  .nav-2 > a:hover {
    color: white;
  }
  .main-footer-content {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 3rem;
  }
  .main-footer-content > div {
    margin: 0 50px;
  }  
  .footer-main-1 {
    width: 20rem;
    color: #fff;
    max-width: 300px;
  }
  .navbar-brand1 {
    color: #f9f8f8;
    margin-bottom: 0;
  }
  .navbar-brand1 > span {
    color: gray;
  }
  .footer-main-1 > a {
    display: flex;
  }
  .footer-main-2 {
    width: 20rem;
    color: #fff;
    max-width: 300px;
    text-align: right;
  }
  .link{
    text-decoration: none;
  }
  .copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 254, 254, 0);
    padding: 10px;
    text-align: center;
    font-size: 10px;
    color: azure;
  }
  

@media (max-width: 500px) {
    .main-footer-content {
      display: block;
    }
    .footer-main-1{
      max-width: 75%;
    }
    .footer-main-2 {
      padding-top: 16px;
      padding-bottom: 30px;
      max-width: 75%;
    }
    .nav-2 a{
      margin: 0.5rem;
    }
    form{
      max-width: 300px;
    }
  }

/* RESPONSIVE FOR NAVBAR */
@media (max-width:1000px) {
    header {
        display: block;
    }
}

